<h2>Add a new event here</h2>

<form action="/events" method="post">
  <p>
    <label for="title">Event title:</label>
    <input type="text" name="title" id="title">
  </p>

  <p>
    <label for="venue">Venue:</label>
    <select name="venue">
      <option label=" "></option>
      <option value="Gangneung Olympic Park">Gangneung Olympic Park</option>
      <option value="Alpensia Sports Park">Alpensia Sports Park</option>
      <option value="Jeongseon Alpine Centre">Jeongseon Alpine Centre</option>
    </select>
  </p>  

  <p><input type="submit" value="Submit new event"></p>

</form>