<h2>Add a new event here</h2>

<form action="/events" method="post">
  <p>
    <label for="title">Event title:</label>
    <input type="text" name="title" id="title">
  </p>

  <p>
    <label for="venue">Venue:</label>
    <select name="venue">
      <option label=" "></option>
      <option value="Gangneung">Gangneung</option>
      <option value="Kwandong">Kwandong</option>
      <option value="Alpensia">Alpensia</option>
      <option value="Jeongseon">Jeongseon</option>
    </select>
  </p>  

  <p>
    <label for="status">Status:</label>
    <select name="status">
      <option label=" "></option>
      <option value="Not occurred">Not occurred</option>
      <option value="Occurred">Occurred</option>
      <option value="Cancelled">Cancelled</option>
    </select>
  </p>

  <p><input type="submit" value="Submit new event"></p>

</form>