<h2><%= @event.title %></h2>
<h3><%= @event.venue %></h3>


<p>Athletes competing in <%= @event.title %>:</p>

<p>
  <% @athletes_events.each do |athlete_event| %>
    <%= athlete_event %><br>
  <% end %>
</p>

<p>
  <a href="/athletes_events/new">Add an athlete to this event</a>
</p>

<a href="">Edit this event</a><br>
<a href="">Delete this event</a>