<h2>Enter an athlete into an event</h2>

<form action="/athletes_events" method="post">
<input type="hidden" name="medal_id" value=4 />
  <p>
    <label for="event_id">Select the event:</label>
    <select name="event_id" id="event_id">
      <option label=" "></option>
      <% @events.each do |event| %>
        <% event_id = event.id %>
        <option value="<%= event.id %>">
          <%= event.title %>
        </option>
      <% end %>
    </select>
  </p>

  <p>
    <label for="athlete_id">Select the athlete:</label>
    <select name="athlete_id" id="athlete_id">
      <option label=" "></option>
      <% @athletes.each do |athlete| %>
        <% athlete_id = athlete.id %>
        <option value="<%= athlete.id %>">
          <%= athlete.full_name() %>
        </option>
      <% end %>
    </select>
  </p>

  <p><input type="submit" value="Submit"></p>


</form>