<h2>Enter an athlete into an event</h2>

<form action="/athletes_events" method="post">

  <p>
    <label for="events">Select an event:</label>
    <select name="events" id="events">
      <option label=" "></option>
      <% @events.each do |event| %>
        <% event_id = event.id %>
        <option value="<%= event.id %>">
          <%= event.title %>
        </option>
      <% end %>
    </select>
  </p>

  <p>
    <label for="athletes">Select an athlete:</label>
    <select name="athletes" id="athletes">
      <option label=" "></option>
      <% @athletes.each do |athlete| %>
        <% athlete_id = athlete.id %>
        <option value="<%= athlete.id %>">
          <%= athlete.full_name() %>
        </option>
      <% end %>
    </select>
  </p>

  <p><input type="submit" value="Submit"></p>


</form>