<h4>Find events and athletes</h4>

<form action="/nation" method="post">
  <p>
    <label for="title">Event title:</label>
    <input type="text" name="title">
  </p>

  <p>
    <label for="venue">Venue:</label>
    <select name="venue">
      <option label=" "></option>
      <option value="Gangneung">Gangneung</option>
      <option value="Kwandong">Kwandong</option>
      <option value="Alpensia">Alpensia</option>
      <option value="Jeongseon">Jeongseon</option>
    </select>
  </p>  

  <p><input type="submit" value="Find athletes"></p>

</form>