<h4>Find an athlete - click on a nation to show competing athletes</h4>

<p>
  <% @nations.each do |nation| %>
    <% id = nation.id %>
    <a href="/nations/<%= id %>"><%= nation.name %></a><br>
  <% end %>
</p>







<!---
<form action="/nations/" method="get">
  <p>
    <label for="id">Select the nation:</label>
        <select name="id">
          <option label=" "></option>
          <% @nations.each do |nation| %>
            <option value="<%= nation.id %>">
              <%= nation.name %>
            </option>
          <% end %>
        </select>
  </p>  

  <p><input type="submit" value="Find athletes"></p>
</form>
-->
