<!DOCTYPE html>
<html>
  <head>
    <title>Winter Olympics</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body>
    <header id="nav-bar">
      <h1>Winter Olympics South Korea 2018</h1>
      <div class="grid">
        <div class="grid-row grid-row-lg">
          <div class="cell"><a href="/">Home</a></div>
          <div class="cell"><a href="/nations">Nations</a></div>
          <div class="cell"><a href="/athletes">Athletes</a></div>
          <div class="cell"><a href="/events">Events</a></div>
        </div>
      <hr>
    </header>

    <div id="main-div">
      <%= yield %>  
    </div>
  </body>
</html>