@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto/Roboto-Regular.ttf');
}

body {
  font-family: Roboto;
}

h1, h2 {
  text-align: center;
  color: navy;
}

a, a:visited {
  color: limegreen;
  text-decoration: none;
}

footer {
  min-height: 60px;
}

h3 {
  color: orangered;
  text-align: center;
}

#main-div, #nav-bar {
  display: block;
  margin: auto;
}

.grid-row {
  display: flex;
  flex-direction: column;
}

.grid-row-header .cell {
  font-weight: bold;
}

/*medal table*/
table {
    border-collapse: collapse;
    /*width: auto;*/
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/*end medal table*/



.cell {
  flex: 1;
  padding: 10px;
  /*border: 1px solid navy;*/
  text-align: center;
}

.grid-row-result .cell {
  border: 1px solid navy;
  text-align: left;
}

/*media queries*/
@media all and (min-width: 480px) {
  .grid-row-sm, .grid-row-header, .grid-row-result {
    flex-direction: row;
  }
  #main-div, #nav-bar {
    max-width: 90%;
  }
}

@media all and (min-width: 720px) {
  .grid-row-md {
    flex-direction: row;
  }
  #main-div, #nav-bar {
    max-width: 75%;
  }
}

@media all and (min-width: 960px) {
  .grid-row-lg {
    flex-direction: row;
  }
  #main-div, #nav-bar {
    max-width: 50%;
  }
}
