<h2>Here are all the nations</h2>

<p>
  <% @nations.each do |nation| %>
    <a href="/nations/<%= nation.id %>">
      <%= nation.name %>
    </a>
    <br>
  <% end %>
</p>

<p>
  <a href="/nations/new">Add a new nation</a>
</p>