<h2>Enter a new nation here</h2>

<form action="/nations" method="post">
  

  <p><label for="name">Name of nation:</label>
  <input type="text" name="name"></p>

  <p><input type="submit" value="Submit new nation"></p>


</form>