<h2>Here is the requested nation</h2>

<p><%= @nation.name %></p>

<p>Athletes competing for this nation:
  <ul>
    <% @athletes.each do |athlete| %>
      <li><%= athlete.full_name %></li>
    <% end %>
  </ul>
</p>