<h2>Here are all the athletes</h2>

<p>
  <% @athletes.each do |athlete| %>
    <a href="/athletes/<%= athlete.id %>">
      <%= athlete.full_name() %>
    </a>
    <br>
  <% end %>
</p>

<p>
  <a href="/athletes/new">Add a new athlete</a>
</p>