<h2>Add a new athlete here</h2>

<form action="/athletes" method="post">
  <p>
    <label for="first_name">First name (given name):</label>
    <input type="text" name="first_name">
  </p>

  <p>
    <label for="last_name">Last name (family name):</label>
    <input type="text" name="last_name">
  </p>  

  <p>
    <label for="name_convention">Name convention:</label>
    <select name_convention>
      <option label=" "></option>
      <option value="name_convention">firstname lastname / givenname familyname</option>
      <option value="name_convention">lastname firstname / familyname givenname</option>
    </select>
  </p>

  <p>
    <label for="nation_id">Select the nation:</label>
    <select name="nation_id">
      <option label=" "></option>
      <% @nations.each do |nation| %>
        <% @nation_id = nation.id %>
        <option value="<% nation.id %>">
          <%= nation.name %>
        </option>
      <% end %>
    </select>
  </p>

  <p><input type="submit" value="Submit new athlete"></p>

</form>
