<h2>Add a new athlete here</h2>

<form action="/athletes" method="post">
  <p>
    <label for="first_name">First name (given name):</label>
    <input type="text" id="first_name" name="first_name">
  </p>

  <p>
    <label for="last_name">Last name (family name):</label>
    <input type="text" id="last_name" name="last_name">
  </p>  

  <p>
    <label for="name_convention">Name convention:</label>
    <select name="name_convention" id="name_convention">
      <option label=" "></option>
      <option value="first last">firstname lastname</option>
      <option value="last first">lastname firstname</option>
    </select>
  </p>

  <p>
    <label for="nation_id">Select the nation:</label>
    <select name="nation_id" id="nation_id">
      <option label=" "></option>
      <% @nations.each do |nation| %>
        <% nation_id = nation.id %>
        <option value="<%= nation.id %>">
          <%= nation.name %>
        </option>
      <% end %>
    </select>
  </p>

  <p><input type="submit" value="Submit new athlete"></p>

</form>
