<h2><%= @athlete.full_name %></h2>

<% nation_id = @athlete.nation_id %>
<% nation = Nation.find(nation_id) %>
<p>
  <a href="/nations/<%= nation.id %>">
    <%= nation.name %>
  </a>
</p>

<a href="">Edit this athlete</a>
<a href="">Delete this athlete</a>
<a href="">Edit this athlete's events</a>